<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <!-- 로그 설정에 사용할 변수를 설정 -->
    <Properties>

        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss} %-5p [%c{1}] - %m%n
        </Property>

    </Properties>

    <!-- 로그를 출력할 대상 설정 -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
    </Appenders>

    <!-- 로그를 남기는 로거(Logger) 설정 -->
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>